@import '../../../styles/variables';
a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.bwm-card {
    border: none;
    margin-bottom: 25px;
    .card-block {
      padding-top: 8px;
      .card-title {
          font-size: 15px;
          height: 20px;
          white-space: nowrap;
          overflow: hidden;      
        }
      .card-text {
          font-size: 15px;
          height: 30px;
      }
    }
}
